/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --colors-teal: #4d96a9;
  --colors-light-teal: #71c0d4;
  --colors-purple: #855fb1;
  --colors-light-purple: #b18bdd;
  --colors-dark-purple: #28283d;
  --colors-gray: #87879d;
  --colors-cyan: #8fe3f9;
  --colors-violet: #d9b8ff;
  --colors-light-shady: #fafafa;

  /*========== Font and typography ==========*/
  --body-font: 'Red Hat Display', sans-serif;
}

/*=============== BASE ===============*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--colors-light-shady);
  color: var(--colors-gray);
  font-family: var(--body-font);
  cursor: default;
}

h1 {
  font-size: 4rem;
  line-height: 1;
}
h2 {
  font-size: 2.5rem;
  line-height: 1.1;
}
h1,
h2 {
  color: var(--colors-dark-purple);
}
p {
  font-size: 1.125rem;
  line-height: 1.444;
}
