/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;600;700;900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --color-teal: hsl(192, 37%, 48%);
  --color-dark-purple: hsl(267, 35%, 54%);
  --color-light-purple: hsl(268, 100%, 86%);
  --color-grey: hsl(240, 8%, 56%);
  --color-dark-grey: hsl(240, 21%, 20%);
  --color-cyan: hsl(192, 90%, 77%);
  --color-white: hsl(0, 0%, 98%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Red Hat Display', sans-serif;
  --h1-font-size: 3.25rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 1.3rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 600;
  --font-medium: 600;
  --font-semi-bold: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  color: var(--color-grey);
}

body {
  background-color: var(--body-color);
}

button,
input {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--color-dark-grey);
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  max-width: 1120px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.section {
  padding-inline: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

.container * {
  opacity: 0.85;
}

/*=============== BTN ===============*/
.btns {
  margin-top: 2.5rem;
  row-gap: 1.2rem;
  justify-items: center;
}

.btn {
  padding: 1.5rem 2.3rem;
  text-align: center;
  font-weight: var(--font-semi-bold);
  background-color: gray;
  border-radius: 3rem;
  color: var(--color-white);
  width: fit-content;
  letter-spacing: 0.2px;
}

.btn-teal {
  background: var(--color-teal);
}

.btn-teal span {
  color: var(--color-cyan);
}

.btn-purple {
  background: var(--color-dark-purple);
}

/*=============== TEMPLATE IMAGE ===============*/
.template_image {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  max-width: 750px;
  height: 4430px;
  z-index: -999;
}

/*=============== MAIN CSS ===============*/
.logo {
  height: 10rem;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 9.5rem;
}

.header {
  margin-top: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.header__img-left {
  margin-left: -1.5rem;
  margin-right: 0.75rem;
}

.header__img-right {
  margin-right: -1.5rem;
  margin-left: 0.75rem;
}

/* TEXT HERO SECTION */
.header__hero-section {
  grid-column: 1/3;
  text-align: center;
  margin-top: 3.7rem;
}

/* H1 title */
.header__hero-section h1 {
  line-height: 1.15;
}

/* p description */
.header__hero-section p {
  margin-top: 1.7rem;
  line-height: 1.6;
}

/* vertical line */
.vertical_line_w_num {
  margin-top: 5.2rem;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}

.vertical {
  border-left: 2px solid var(--color-dark-grey);
  height: 108px;
  position: absolute;
  left: 50%;
}

.number-div {
  margin-top: 107px;
  width: 4.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
}
.number-div .number {
  margin-top: 0;
  font-weight: var(--font-semi-bold);
  border-radius: 50%;
  border: 2px solid var(--color-dark-grey);
  padding: 1rem 1.4rem;
  display: flex;
}

/* GALLERY SECTION */
.gallery__section {
  width: 100%;
  margin-top: 5.15rem;
}

.gallery__section-images {
  padding-inline: 0.45rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.gallery__section-images img {
  border-radius: 1rem;
}

/* SMART MEETINGS SECTION */
.smarter-meetings {
  text-align: center;
  margin-top: 5.3rem;
}

.h3-teal-title {
  font-size: 1.25rem;
  letter-spacing: 6.7px;
  text-transform: uppercase;
  color: var(--color-teal);
}
.smarter-meetings_title {
  margin-top: 1.7rem;
  line-height: 1.3;
  font-size: 2.5rem;
}

.smarter-meetings_description {
  margin-top: 2.4rem;
  line-height: 1.55;
  padding-inline: 0.4rem;
}

/* line 2 */
.line2 {
  padding-top: 0.2rem;
}

.line2 .number-div {
  background-color: transparent;
  height: 100%;
}

.line2 .number {
  padding: 1.5rem;
}

/* Experience more together */
.experience-more {
  justify-items: center;
  text-align: center;
  padding: 2.5rem;
  margin-top: -2.5rem;
}

.experience-more_title {
  margin-top: 4.5rem;
  line-height: 1.15;
  font-size: 2.6rem;
  color: var(--color-white);
}

.experience-more_description {
  margin-top: 2rem;
  line-height: 2rem;
  font-size: 1.45rem;
  color: var(--color-white);
  padding-inline: 1.3rem;
}

.experience-more-btn {
  margin-top: 2.6rem;
  margin-bottom: 3rem;
}
